body{
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #303030;
    background-color: #FFF;
    line-height: 15px;
    width: 100%;
    border: 0px none;
    height: auto;
}
HTML, BODY, UL, LI, DL, DT, DD, H1, H2, H3, H4, H5, H6, P, FORM {
    margin: 0px;
    padding: 0px;
}
/*внутренность */
.wrapper {
    width: 860px;
    margin: 240px auto;
}
/* пагинация */
li{
    display: inline-block;
    list-style: none;
}
.active{
    width: 70px;
    height: 20px;
    background: #959595;
    border-radius: 3px;
    padding: 4px;
    color: #fbfbfb;
    font-weight: bold;
}
.page{
    padding-left: 10px;
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    margin-bottom: 8px;
    border-radius: 3px;
    font-weight: bold;
}
/* Главная новость */
.bololo{
    height: 270px;
    width: 300px;
    margin: 0;
    float:left;
    margin-bottom: 15px;
}
h1{
    margin-bottom: 15px;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 30px;
    width: 485px;
}
.novelle{
    background: #4c4c4c;
    height: 70px;
    margin: 0;
    margin-top: -5px;
}

.data {
    color:#cfcfcf;
    margin-left: 10px;
    padding-top: 15px;
}
.anonce{
    color: #fcfcfc;
}

/* Комментарии */
.comment{
    margin-left: 10px;
    width: 330px;
    float: left;
}
.comment a{
    color: #6c6c6c;
}
.list{
    margin-bottom: 15px;
    display: inline-block;
}
.comment span{
    font-weight: bold;
    width: 15px;
    height: 10px;
    background: #ebecf0;
}
.comment div{
    margin-bottom: 8px;
}
.hot{
    background: #fc2729;
    height: 14px;
    color: #ffffff;
    margin: 1px 1px;
    position: relative;
    line-height: 16px;
    display: inline-block;
    padding: 0px 3px;
}
.ponytail {
    border: 3px solid transparent;
    border-left: 3px solid #fc2729;
    border-top: 3px solid #fc2729;
    position: absolute;
    top: 13px;
    left: 5px;
}
/*форма поиска */
div.search{
    float: left;
    margin-bottom: 5px;

}
input{
    margin-bottom: 26px;
}

/*Третья колонка новостей */
.day_news{
    float: left;
    margin-top: -83px;
    display: block;
    margin-left: 25px;
    margin-bottom: 0;
}
.news_active {
    color:#fc2729;
}

.day_news li {
    padding-left: 4px;
    width: 75px;
    height: 30px;
    line-height: 30px;
}
li.top_news{
    border-bottom: solid 2px #cfdedb;
    background: #f4f4f4;
}
.day_news li{
    border: solid 1px #dcdcdc;
    border-bottom: 0px;
}
li.news_active{
    border-bottom:0;
}
div.tab{
    border-bottom: 2px solid #dcdcdc;
    width: 85px;
    margin-left: 80px;
}
div.last_news{
    float: right;
}
.actual{
    width: 191px;
    margin-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 1px
}
span.hot_time{
    color: #fc2729;
}
.dotted{
    border-bottom: dotted #a2a2a2;
    margin-bottom: 5px;
}
.ponytail_2{
    border: 3px solid transparent;
    border-right: 3px solid #fc2729;
    border-top: 3px solid #fc2729;
    position: absolute;
    top: 13px;
    left: 4px;
}
/*Новостной блок с картинками */
.today{
    float: left;
    width: 660px;
}
.today h1{
    font-size:20px;
    color: black;
    float: left;
    padding-left: 10px;
}
.today p{
    float: left;
    padding-left: 10px;
}
.today img{
    float: left;
}
.date{
    color: #999a9c;
    font-size: 8px;
    width: 65px;

}

p.anonce_news {
    width: 485px;
}

